h1{
    color: red;
}
input.sendMessage{
    margin: 5px
}
body.black {
    font-family: 'Courier New';
    background: black;
}
.centerDiv {
    margin: auto;
    width: 60%;
    border: 5px solid #000000;
    padding: 10px;
    background: rgb(65, 63, 63);
}
.centerForm {
    margin: auto;
    width: 60%;
    padding: 10px;
    background: rgb(65, 63, 63);
}
.centerText{
    text-align: center;
    background: rgb(65, 63, 63);
}
.back{
    background: rgb(65, 63, 63);
    color: black;
    font-family: 'Courier New';
    text-align: center;
    margin: auto;
    margin-top: 15px;
    display: flex;
}
input{
    border-radius: 25px;
    background: rgb(192, 149, 149);
}
.scnd-text{
    margin: auto;
    width: 60%;
    padding: 10px;
}